
// import Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100&display=swap');


// Main Body

body {
    background: #E8E7E6 !important;
}



// Container Width

.container {
	max-width: 75% !important;
 }


 //Width

 .vw-50{
	width: 50vw;
 }
 h1{
	font-size:8vw;
 }


 // Height in Vh

// .h-60vh{
// 	height: 60vh;
// }


// Navbar Component
.navbar-nav{
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 18px;
}
.navbar-nav ul li a{
	font-family: 'Roboto';
	
}

.navbar{

	background: #E8E7E6;
}
//End Navbar 


//Hero Component
.hero-section a{
	text-decoration: none;
	font-weight: 900;
}
.hero-section .create-link{
	color: #009cb4;
	&:hover{
		color: #000000
	}
}
.hero-section .trade-link{
	color: #e8663d;
	&:hover{
		color: #000000
	}
}

.hero-section .hold-link{
	color: #0d8e74;
	&:hover{
		color: #000000
	}
}

.hero-section h1{
	font-weight:bolder;
	font-size: 3rem;
}

.btn-button button{
	background: #001428 !important;
}



.roundedFixedBtn{
  height: 60px;
  width: 60px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #000000;
  color: white;
  text-align: center;
  cursor: pointer;
}
.roundedFixedBtn-social{
	height: 40px;
	width: 40px;  
	font-size: 1.5em;
	border-radius: 50%;
	background-color: #000000;
	color: white;
	text-align: center;
	cursor: pointer;
  }


.footer-section{
	border-top: 1px solid rgb(186, 183, 183);
}

.footer-section ul li {
	list-style: none;
	line-height: 40px;
}

.footer-section ul li a{
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	font-size: 16px;
}

//End Hero Component


 // background Component

 .background-img{
	background: url('../public/assests/background-img.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.content{
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 33%);
    background-color: rgba(0,0,0,0.55);
}

// eEnd background component



